/* styles.css */

/* Общие стили */
body {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* Стили для нотного стана */
#notation {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

/* Стили для пианино */
#piano {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px; /* Опускаем клавиатуру вниз */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%; /* Устанавливаем ширину в 100% от экрана */
    max-width: 750px; /* Максимальная ширина для больших экранов */
}

/* Стили для клавиш пианино */
#piano button {
    flex: 1; /* Растягиваем клавиши по ширине равномерно */
    height: 150px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 4px #999;
    cursor: pointer;
}

/* Стили для белых клавиш */
#piano button.white-key {
    background-color: white;
}

/* Стили для черных клавиш */
#piano button.black-key {
    width: 60%; /* Ширина черных клавиш относительно белых */
    height: 100px;
    background-color: black;
    color: white;
    position: relative;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px;
    box-shadow: 0 4px #666;
}

/* Стиль при нажатии на клавиши */
#piano button:active {
    background-color: #ccc;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
