/* styles.css */

/* Общие стили */
body {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* Стили для нотного стана */
#notation {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

/* Стили для пианино */
#piano {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 20px; /* Опускаем клавиатуру вниз */
    left: 0;
    right: 0;
    width: 100%;
    max-width: 750px; /* Максимальная ширина клавиатуры */
    height: 200px; /* Фиксированная высота клавиатуры */
    background: rgba(255, 255, 255, 0.8); /* Прозрачный фон */
    padding: 0 10px; /* Добавляем отступы для краев клавиатуры */
    box-sizing: border-box;
}

/* Стили для белых клавиш */
#piano button.white-key {
    flex: 1;
    height: 100%;
    margin: 0 2px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px #999;
    position: relative;
    z-index: 1;
}

/* Стили для черных клавиш */
#piano button.black-key {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px #666;
    z-index: 2;
    margin-left: -30px;
    margin-right: -30px;
}

/* Индивидуальное позиционирование черных клавиш относительно белых */
#piano button:nth-child(2) { left: 8.5%; }
#piano button:nth-child(4) { left: 25%; }
#piano button:nth-child(7) { left: 58%; }
#piano button:nth-child(9) { left: 75%; }
#piano button:nth-child(11) { left: 91.5%; }

/* Стиль при нажатии на клавиши */
#piano button:active {
    background-color: #ccc;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
