/* styles.css */

/* Общие стили */
body {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* Стили для нотного стана */
#notation {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

/* Контейнер для клавиатуры */
#piano-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 20px; /* Опускаем клавиатуру вниз */
    width: 100%;
    height: 300px; /* Увеличиваем высоту клавиатуры */
}

/* Стили для пианино */
#piano {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%; /* Увеличиваем ширину клавиатуры */
    max-width: 800px;
    height: 100%;
}

/* Стили для белых клавиш */
.white-key {
    flex: 1;
    margin: 0 2px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    height: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px #999;
}

/* Стили для черных клавиш */
.black-key {
    position: absolute;
    width: 60px; /* Ширина черных клавиш */
    height: 60%; /* Высота черных клавиш */
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px #666;
    z-index: 2;
}

/* Индивидуальное позиционирование черных клавиш */
.black-key:nth-of-type(1) { left: 55px; }
.black-key:nth-of-type(2) { left: 155px; }
.black-key:nth-of-type(3) { left: 355px; }
.black-key:nth-of-type(4) { left: 455px; }
.black-key:nth-of-type(5) { left: 555px; }

/* Стиль при нажатии на клавиши */
#piano button:active {
    background-color: #ccc;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
